$color: (
  base: (
    '01': #fff,
    '02': #f6f6f6,
    '03': #ededed,
    '04': #e0e0e0,
    '05': #b0b0b0,
    '06': #959595,
    '07': #808080,
    '08': #333,
    '09': #000,
    'primary': #526ed3,
    'primary-hover': #6c86e2,
    'primary-active': #314692,
    'secondary': #f4f4f4,
    'secondary-hover': #ececec,
    'secondary-active': #e0e0e0,
    'accent': #ff7043,
    'accent-hover': #ff8d69,
    'accent-active': #ed5a2b,
    'clear': #0000000a,
    'clear-hover': #00000014,
    'clear-active': #0000001f,
  ),
  text: (
    '01': #191c30e5,
    '02': #1b1f3ba6,
    '03': #1b1f3b66,
    'link': #526ed3,
    'link-hover': #6c86e2,
    'positive': #3aa981,
    'positive-hover': #7ac5aa,
    'negative': #dd4c1e,
    'negative-hover': #e38163,
  ),
  status: (
    'success-fill': #4ac99b,
    'success-bg-hover': #4ac99b3d,
    'success-bg': #4ac99b1f,
    'error-fill': #f45725,
    'error-bg-hover': #f457253d,
    'error-bg': #f457251f,
    'info-fill': #70b6f6,
    'info-bg-hover': #70b6f63d,
    'info-bg': #70b6f61f,
    'warning-fill': #ffc700,
    'warning-bg-hover': #ffc7003d,
    'warning-bg': #ffc7001f,
    'neutral-fill': #79818c,
    'neutral-bg-hover': #79818c3d,
    'neutral-bg': #79818c1f,
  ),
  support: (
    '01': #a8cef1,
    '02': #3682db,
    '03': #8dda71,
    '04': #34b41f,
    '05': #e29398,
    '06': #b8474e,
    '07': #fcc068,
    '08': #ff8a00,
    '09': #dab3f9,
    '11': #fee797,
    '12': #fcbb14,
    '13': #ea97c4,
    '14': #bd65a4,
    '15': #7fd7cc,
    '16': #2fad96,
    '17': #d4aca2,
    '18': #9d6f64,
    '19': #d2e9a2,
    '20': #aadc42,
    '21': #a0c5df,
  ),
);

:root {
  @each $color-group, $color-name in $color {
    @each $shade, $value in $color-name {
      --#{$color-group}-#{$shade}: #{$value};
    }
  }
}
