$palettes: (
  base: (
    '01': #121212,
    '02': #202020,
    '03': #232325,
    '04': #2c2c2e,
    '05': #5c636b,
    '06': #c7c9cc,
    '07': #dddfe0,
    '08': #f6f7f8,
    '09': #fff,
    'primary': #526ed3,
    'primary-hover': #6c86e2,
    'primary-active': #314692,
    'secondary': #6488b433,
    'secondary-hover': #6488b452,
    'secondary-active': #6488b466,
    'accent': #ff7043,
    'accent-hover': #ff9a94,
    'accent-active': #e7716a,
    'clear': #ffffff29,
    'clear-hover': #ffffff3d,
    'clear-active': #fff6,
  ),
  text: (
    '01': #fff,
    '02': #ffffffb8,
    '03': #fff9,
    'link': #6788ff,
    'link-hover': #526ed3,
    'positive': #526ed3,
    'positive-hover': #526ed3,
    'negative': #526ed3,
    'negative-hover': #526ed3,
  ),
  status: (
    'success-fill': #4ac99b,
    'success-bg-hover': #4ac99b66,
    'success-bg': #4ac99b52,
    'error-fill': #ff8c67,
    'error-bg-hover': #f4572566,
    'error-bg': #f4572552,
    'info-fill': #70b6f6,
    'info-bg-hover': #70b6f666,
    'info-bg': #70b6f652,
    'warning-fill': #ffc700,
    'warning-bg-hover': #ffc70066,
    'warning-bg': #ffc70052,
    'neutral-fill': #959ba4,
    'neutral-bg-hover': #959ba466,
    'neutral-bg': #959ba452,
  ),
  support: (
    '01': #a8cef1,
    '02': #3682db,
    '03': #8dda71,
    '04': #34b41f,
    '05': #e29398,
    '06': #b8474e,
    '07': #fcc068,
    '08': #ff8a00,
    '09': #dab3f9,
    '11': #fee797,
    '12': #fcbb14,
    '13': #ea97c4,
    '14': #bd65a4,
    '15': #7fd7cc,
    '16': #2fad96,
    '17': #d4aca2,
    '18': #9d6f64,
    '19': #d2e9a2,
    '20': #aadc42,
    '21': #a0c5df,
  ),
);

:root {
  @each $color-name, $color-shades in $palettes {
    @each $shade, $value in $color-shades {
      --#{$color-name}-#{$shade}: #{$value};
    }
  }
}
