# Игнорирование конфигурационных файлов
/package.json
/package-lock.json
/yarn.lock

# Игнорирование всех файлов в папке build
/build

# Игнорирование файлов, которые могут генерироваться автоматически
*.log

# Игнорирование директорий для статических файлов
/public

# Игнорирование кэшированных файлов, например, созданных IDE
/.vscode
/node_modules

# Игнорирование автоматически сгенерированных файлов
*.d.ts